<h2>Visit us</h2>
<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="Username" type="email" class="form-control" placeholder="Enter your email">
  </div>
  <button type="submit" class="btn btn-primary">Press me</button>
</form>